<% layout('layouts/boilerplate') %>
<body>
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <input type="text" name="title" placeholder="<%= listing.title %>" value="<%= listing.title %>" required>
        <br>
        <textarea name="description" placeholder="<%= listing.description %>" required><%= listing.description %></textarea>
        <br>
        <input type="text" name="image" placeholder="<%= listing.image %>" value="<%= listing.image %>">
        <br>
        <input type="number" name="price" placeholder="<%= listing.price %>" value="<%= listing.price %>" required>
        <br>
        <input type="text" name="location" placeholder="<%= listing.location %>" value="<%= listing.location %>" required>
        <br>
        <input type="text" name="country" placeholder="<%= listing.country %>" value="<%= listing.country %>" required>
        <br>
        <button type="submit">Update Listing</button>
    </form>
    
</body>
